/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after {
  box-sizing: border-box;
}

.navphone{
  display:none;
}


.nav{
  display: flex;
  flex-wrap:wrap;
  background-color: #AA0601;
  justify-content: space-between;
  padding-left:12%;
  padding-right: 12%;
  align-items: center;
  margin: 0 auto;
  max-width:1920px;
  height: auto;
  padding-bottom: 12px;
  padding-top: 12px;
}

.nav img{
  width: 80px;
  height: auto;
}

.nav ul{
  display: flex;
  flex-wrap:wrap;
  gap: 64px;
}

.nav li{
  color: white;
  font-size: 20px;  
}

.content{
  margin: 0 auto;
  margin-top: 96px;
  margin-bottom: 48px;
  background-color: white;
  padding-left: 12%;
  padding-right:12%;
}

.content h1{
  color: balck;
  font-size: 48px;
  font-weight: bolder;
  border-left:#9F1213 8px solid;
  padding-left:16px;
  margin-bottom: 32px;
}

.content h2{
  font-size: 24px;
  color: black;
  font-weight: bolder;
  margin-bottom: 24px;
}

.content li{
  margin-bottom: 32px;
}

.content h3{
  font-size: 20px;
  color:black;
  font-weight: bolder;
  margin-bottom: 8px; 
}

.content p{
  font-size: 16px;
  color:black;
  text-align: left;
  line-height: 24px;
}

.footer{
  background-color: #AA0601;
  max-width:1920px;
  margin: 0 auto;
  color:white;
  padding-top: 48px;
  padding-right: 12%;
  padding-left: 12%;
}

.list{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.navbt{
  display:flex;
  gap: 48px;
}
.navbt li{
  font-size: 16px;
}

.socialmedia{
  display:flex;
  gap: 32px;
  align-items: center;
}
.socialmedia img{
  width: 48px;
  height: auto;
}

.contact{
  margin-bottom:32px;
  margin-top: 32px;
  border-bottom:1px white solid;
}

.contact h2{
  font-size: 32px;
}

.phone{
  display:flex;
  gap: 22px;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap:wrap;
}

.phone img{
  width: 36px;
  height: auto;
}

.mail{
  display:flex;
  gap: 22px;
  align-items: center;
  margin-bottom: 32px;
  flex-wrap:wrap;
}

.mail img{
  width: 36px;
  height: auto;
}

.copyright{
  display:flex;
  flex-wrap:wrap;
  max-width:1920px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

.copyright p{
  font-size: 16px;
}

.copyright ul{
  display:flex;
  gap: 48px;  
}


@media(max-width:768px){
  .nav{
    padding-left:36px;
    padding-right:36px;
  }
  
  .content{
    padding-left:36px;
    padding-right:36px;
  }
  
  .footer{
    padding-left:36px;
    padding-right:36px;
  }
  
  .socialmedia{
    gap: 16px;
  }
  
  .socialmedia img{
  width: 40px;
  height: auto;
}
    
}

  
@media(max-width:375px){
  
  .navphone{
    display:block;
    background-color: #AA0601;
  }
  
  .navphone img{
    width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .navphone ul{
    display:flex;
    justify-content: space-between;
    color:white;
    font-size: 16px;
  }
  
  .navphone li{
    width: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border: white 1px solid;
  }
  
  
  .nav{
    display:none;
  }
  
  .nav img{
    padding-left:15px;
    padding-bottom: 12px;
  }
  
  .nav ul{
    gap: 0;
  }
  
  .nav li{
    font-size: 16px;
    border: 1px white solid;
    width: 186px;
    height: 48px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .content{
      margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 64px;
    padding-left:13px;
    padding-right: 13px;
  }
  
  .content h1{
    font-size: 24px;  
  }
  
  .footer{
    padding-left:16px;
    padding-right: 16px;
  }
  
  .navbt{
    display:none;
  }
  
  .socialmedia {
    gap: 8px;
  }
  
  .socialmedia img{
    width: 24px;
    height: 24px;
  }
  
  .contact{
  margin-bottom:16px;
  margin-top: 24px;
  border-bottom:1px white solid;
}
  
  .phone{
    gap: 11px;
  }
  
  .phone img{
  width: 18px;
  height: auto;
}
  .phone h2{
    font-size: 16px;
  }
  
  .mail{
    gap: 11px;
  }
  
  .mail img{
    width: 20px;
    height: auto;
  }
  
  .mail h2{
    font-size: 16px;
  }
  
  .copyright p{
  padding-bottom: 8px;
}
  
  .copyright ul{
  display:flex;
  flex-direction:column;
  gap: 8px;
  padding-bottom: 24px;
}
 
    .footer{
    position:relative;
      padding-top: 6px;
  }
  
  .socialmedia{
    position:absolute;
    right:14px;top:24px;
  }
  
  .mail{
    margin-bottom: 24px;
  }
}  
